// font family
$body_font: 'Poppins', sans-serif;
$heading_font: 'Poppins', sans-serif;
$secondary_font: 'Work Sans', sans-serif;

// default color set
$color_info: #803CFF;
$color_black: #272727;
$color_danger: #FF5252;
$color_primary: #4444FF;
$color_default: #272727;

// default transition
$transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);